/* column container */
.colmask {
	position:  relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:  both;
	float:  left;
	width:  100%;				/* width of whole page */
	overflow:  hidden;		/* This chops off any overhanging divs */
}

/* holy grail 3 column settings */
.holygrail {
	background:  #ff9;    	/* Right column background colour */
}
.holygrail .colmid {
	float:  left;
	width:  200%;
	margin-left:  -200px; 	/* Width of right column */
	position:  relative;
	right:  100%;
	background:  #fff;    	/* Center column background colour */
}
.holygrail .colleft {
	float:  left;
	width:  100%;
	margin-left:  -50%;
	position:  relative;
	left:  400px;         	/* Left column width + right column width */
	background:  #FFD8B7;    	/* Left column background colour */
}
.holygrail .col1wrap {
	float:  left;
	width:  50%;
	position:  relative;
	right:  200px;        	/* Width of left column */
}
.holygrail .col1 {
	margin:  0 215px;     	/* Center column side padding:  
							Left padding = left column width + Center column left padding width
							Right padding = right column width + Center column right padding width */
	position:  relative;
	left:  200%;
	overflow:  hidden;
}
.holygrail .col2 {
	float:  left;
	float: right;			/* This overrides the float: left above */
	width: 170px;        	/* Width of left column content (left column width minus left and right padding) */
	position: relative;
	right: 15px;         	/* Width of the left-hand side padding on the left column */
}
.holygrail .col3 {
	float: left;
	float: right;			/* This overrides the float: left above */
	width: 170px;        	/* Width of right column content (right column width minus left and right padding) */
	margin-right: 45px;  	/* Width of right column right-hand padding + left column left and right padding */
	position: relative;
	left: 50%;
}
/* 3 column blog style settings */
.blogstyle {
	background: #ff9;    	/* Right column background colour */
}
.blogstyle .colmid {
	float: left;
	width: 200%;
	margin-left: -222px; 	/* Width of right column */
	position: relative;
	right: 100%;
	background: #FFD8B7;    	/* Center column background colour */
}
.blogstyle .colleft {
	float: left;
	width: 100%;
	margin-left: -222px; 	/* Width of Center column */
	background: #fff;    	/* Left column background colour */
}
.blogstyle .col1wrap {
	float: left;
	width: 50%;
}
.blogstyle .col1 {
	margin: 0 2px 0 444px;	/* Center column side padding:
							Left padding = left column width + Center column left padding width
							Right padding = right column width + Center column right padding width */
	position: relative;
	left: 100%;
	overflow: hidden;
}
.blogstyle .col2 {
	float: right;
	width: 222px;        	/* Width of left column content (left column width minus left and right padding) */
	position: relative;
	left: 222px;         	/* Width of the left-hand side padding on the left column */
}
.blogstyle .col3 {
	float: right;
	width: 222px;        	/* Width of right column content (right column width minus left and right padding) */
	position: relative;
	left: 666px;
}

/* 2 column left menu settings */
.leftmenu {
	background: #FFD8B7;
}
.leftmenu .colright {
	float: left;
	width: 200%;
	position: relative;
	left: 200px;
	background: #fff;
}
.leftmenu .col1wrap {
	float: right;
	width: 50%;
	position: relative;
	right: 200px;
}
.leftmenu .col1 {
	margin: 0 15px 0 215px;
	position: relative;
	right: 100%;
	overflow: hidden;
}
.leftmenu .col2 {
	float: left;
	width: 170px;
	position: relative;
	right: 185px;
}
/* 2 column right menu settings */
.rightmenu {
	background: #ff9;
}
.rightmenu .colleft {
	float: left;
	width: 200%;
	margin-left: -222px;
	position: relative;
	right: 100%;
	background: #fff;
}
.rightmenu .col1wrap {
	float: left;
	width: 50%;
	position: relative;
	left: 50%;
}
.rightmenu .col1 {
	margin: 0 2px 0 222px;
	overflow: hidden;
}
.rightmenu .col2 {
	float: right;
	width: 222px;
	position: relative;
	left: 222px;
}

/* 2 Column (double page) settings */
.doublepage {
	
}
.doublepage .colleft {
	width: 100%;
	position: relative;
	right: 50%;			/* right column width */
}
.doublepage .col1 {
	float: left;
	position: relative;
	overflow: hidden;
	width: 50%;			/* left column content width (column width minus left and right padding) */
	left: 50%;			/* right column width plus left column left padding */
}
.doublepage .col2 {
	float: left;
	position: relative;
	overflow: hidden;
	width: 50%;			/* right column content width (column width minus left and right padding) */
	left: 50%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}




