<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
            <li class="header">
				<dl>
					<dd>{L_GYM_LINKS}</dd>
				</dl>
			</li>
        </ul>
		<ul class="topiclist panel">
			<!-- IF GYM_HTML_NEWS_LINK --><li>{GYM_HTML_NEWS_LINK}</li><!-- ENDIF -->
			<!-- IF GYM_HTML_MAP_LINK --><li>{GYM_HTML_MAP_LINK}</li><!-- ENDIF -->
			<!-- IF GYM_GOOGLE_LINK --><li>{GYM_GOOGLE_LINK}</li><!-- ENDIF -->
			<!-- IF GYM_RSS_LINK --><li>{GYM_RSS_LINK}</li><!-- ENDIF -->
			<!-- IF GYM_RSS_CHAN_LINK --><li>{GYM_RSS_CHAN_LINK}</li><!-- ENDIF -->
		</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
