<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th colspan="2">{L_TOP_POSTERS_ERA}</th>
				</tr>
			</thead>
			<tbody>
				<!-- BEGIN top_posters_era -->
				<tr class="<!-- IF top_posters_era.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
					<td>{top_posters_era.USERNAME_FULL}</td>
					<td><a href="{top_posters_era.S_SEARCH_ACTION}">{top_posters_era.POSTS}</a> {L_POSTS}</td>
				</tr>
				<!-- BEGINELSE -->
				<tr class="panel">
					<td>{TOP_POSTERS_ERA_NO_ACTIVITY}</td>
				</tr>
				<!-- END top_posters_era -->
			</tbody>
		</table>
	<span class="corners-bottom"><span></span></span></div>
</div>
