<!-- IF not S_IS_BOT and S_USER_LOGGED_IN -->
<div class="panel">
    <div class="inner"><span class="corners-top"><span></span></span>

    <h3>{L_USER_MENU}</h3>
    
    <ul class="linklist_vert">
        <li>{L_LAST_LOGIN} {LAST_VISIT_YOU}</li>
        <li class="icon-ucp"><a href="{U_PROFILE}" title="{L_PROFILE}" accesskey="e">{L_PROFILE}</a></li>
        <!-- IF S_DISPLAY_PM -->
        <li class="icon-pm"><a href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a></li>
        <!-- ENDIF -->
        <!-- IF U_YOUR_PROFILE -->
        <li class="icon-profile"><a href="{U_YOUR_PROFILE}" title="{L_YOUR_PROFILE_EXPLAIN}">{L_YOUR_PROFILE}</a></li>
        <!-- ENDIF -->
        <!-- IF S_DISPLAY_SEARCH and (U_SELF_TOPICS or U_SEARCH_SELF) -->
        <li class="icon-posts"><a href="{U_SELF_TOPICS}">{L_SEARCH_SELF_TOPICS}</a> &bull; <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li>
        <!-- ENDIF -->
        <!-- IF U_YOUR_PERSONAL_GALLERY or L_NO_PHOTOS or U_G_MANAGE_PHOTOS -->
        <li class="icon-photos"><!-- IF U_YOUR_PERSONAL_GALLERY --><a href="{U_YOUR_PERSONAL_GALLERY}">{L_YOUR_PHOTOS}</a><!-- ELSE --><span style="border-bottom:1px #CCC dashed; cursor:help;" title="{L_NO_PHOTOS}">{L_YOUR_PHOTOS}</span><!-- ENDIF --> (<a href="{U_G_MANAGE_PHOTOS}"><em>{L_MANAGE_PHOTOS}</em></a>)</li>
        <!-- ENDIF -->
        <!-- IF U_RESTORE_PERMISSIONS -->
        <li><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li>
        <!-- ENDIF -->
        <li class="icon-logout"><a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="l">{L_LOGIN_LOGOUT}</a></li>
    </ul>

    <span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
