<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="1">
			<thead>
				<tr>
					<th>{L_SHARE_TOPIC}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="panel">
					<td valign="top">
						<span style="float:right;"><g:plusone size="tall"></g:plusone></span>
						<ul class="topiclist">
							<!-- IF U_PRINT_TOPIC --><li class="icon-bump"><a href="{U_PRINT_TOPIC}" accesskey="p">{L_PRINT_TOPIC}</a></li><!-- ENDIF -->
							<!-- IF U_PRINT_PM --><li class="icon-bump"><a href="{U_PRINT_PM}" accesskey="p">{L_PRINT_PM}</a></li><!-- ENDIF -->
							<!-- IF U_EMAIL_TOPIC --><li class="icon-bump"><a href="{U_EMAIL_TOPIC}">{L_EMAIL_TOPIC}</a></li><!-- ENDIF -->
							<!-- IF U_EMAIL_PM --><li class="icon-bump"><a href="{U_EMAIL_PM}">{L_EMAIL_PM}</a></li><!-- ENDIF -->
							<!-- IF U_FACEBOOK_TOPIC --><li><a href="{U_FACEBOOK_TOPIC}" class="facebook" onclick="window.open(this.href);return false;">{L_SHARE_FACEBOOK}</a></li><!-- ENDIF -->
							<!-- IF U_TWITTER_TOPIC --><li><a href="{U_TWITTER_TOPIC}" class="twitter" onclick="window.open(this.href);return false;">{L_SHARE_TWITTER}</a></li><!-- ENDIF -->
							<!-- IF U_DELICIOUS_TOPIC --><li><a href="{U_DELICIOUS_TOPIC}" class="delicious" onclick="window.open(this.href);return false;">{L_SHARE_DELICIOUS}</a></li><!-- ENDIF -->
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	<span class="corners-bottom"><span></span></span> </div>
</div>
