<!-- INCLUDE overall_header.html -->
<div class="colmask blogstyle">
	<div class="colmid">
		<div class="colleft">
			<div class="col1wrap">
				<div class="col1">
				<!-- Column 1 start -->
				<!-- IF RECENT_TOPICS_DISPLAY -->
					<!-- INCLUDE recent_topics_body.html -->
				<!-- ENDIF -->
				<!-- Column 1 end -->
				</div>
			</div><!-- /col1wrap -->
			<div class="col2">
			<!-- Column 2 start -->
			<!-- INCLUDE block/block_latest_users.html -->
			<!-- Column 2 end -->
			</div>
			<div class="col3">
			<!-- Column 3 start -->
			<!-- INCLUDE block/block_user_menu.html -->
			<!-- Column 3 end -->
			</div>
		</div><!-- /colleft -->
	</div><!-- /colmid -->
</div><!-- /colmask blogstyle -->

<div class="colmask rightmenu">
	<div class="colleft">
		<div class="col1wrap">
			<div class="col1">
			<!-- Column 1 start -->
			<!-- INCLUDE forumlist_body.html -->
			
			<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
			<ul class="linklist">
					<li>&nbsp;</li>
				<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
			</ul>
			<!-- ENDIF -->
			
			<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
				<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
				<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
					<fieldset class="quick-login">
						<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
						<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
						<!-- IF S_AUTOLOGIN_ENABLED -->
							| <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
						<!-- ENDIF -->
						<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
						{S_LOGIN_REDIRECT}
					</fieldset>
				</form>
			<!-- ENDIF -->
			
			<!-- IF LEGEND --><p><em>{L_LEGEND}: {LEGEND}</em></p><!-- ENDIF -->
			<!-- Column 1 end -->
			</div>
		</div><!-- /col1wrap -->
		<div class="col2">
		<!-- Column 2 start -->
		<!-- INCLUDE gallery/imageblock_body.html -->
		<!-- IF (RECENT_ATTACHMENTS_EXIST and not S_VIEWTOPIC) or (RECENT_ATTACHMENTS_EXIST and S_VIEWTOPIC and S_NUM_POSTS > 1) -->
			<!-- INCLUDE attached_recent_images.html -->
		<!-- ENDIF -->
		<!-- IF RANDOM_ATTACHMENTS_EXIST and S_VIEWFORUM -->
			<!-- INCLUDE attached_random_images.html -->
		<!-- ENDIF -->
		<!-- INCLUDE block/block_top_posters.html -->
		<!-- INCLUDE block/block_top_posters_era.html -->
			<div class="forumbg">
				<div class="inner"><span class="corners-top"><span></span></span>
					<ul class="topiclist">
						<li class="header">
							<dl>
								<dd>FORUMBG</dd>
							</dl>
						</li>
					</ul>
					<div class="panel">
						<h2>h2 heading</h2>
						<p>The quick brown fox jumps over the lazy dog.</p>
					</div>
				<span class="corners-bottom"><span></span></span> </div>
			</div>
			
			<div class="forabg">
				<div class="inner"><span class="corners-top"><span></span></span>
					<table class="table1" cellspacing="1">
						<thead>
							<tr>
								<th>FORABG</th>
							</tr>
						</thead>
						<tbody>
							<tr class="panel">
								<td>
									<h2>h2 heading</h2>
									<p>The quick brown fox jumps over the lazy dog.</p>
								</td>
							</tr>
						</tbody>
					</table>
				<span class="corners-bottom"><span></span></span></div>
			</div>
		<!-- Column 2 end -->
		</div>
	</div><!-- /colleft -->
</div><!-- /colmask rightmenu -->

<!-- INCLUDE overall_footer.html -->