	</div><!-- page-body -->
	
	<div id="page-footer">
		
		<div class="navbar">
			<ul class="linklist navlinks">
				<li class="icon-home"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a> <!-- BEGIN navlinks --> <strong>&#8249;</strong> <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></li>
				<li class="rightside">{S_TIMEZONE}</li>
			</ul>
		</div><!-- /navbar -->
		
		<div class="colmask holygrail">
			<div class="colmid">
				<div class="colleft">
					<div class="col1wrap">
						<div class="col1">
						<!-- Column 1 start -->
						<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
						<ul class="linklist">
							<li><a href="http://www.silveradosierra.com" title="Chevy Silverado and GMC Sierra truck specific community.">Chevy Truck Forum</a> &bull; <a href="http://www.astrosafari.com" title="Chevy Astro and GMC Safari van specific community.">Chevy Astro Van Forum</a></li>
							<li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li>
						</ul>
						<!-- ENDIF -->
						<ul class="linklist">
							<li>Powered by phpBB&reg; Forum Software</li>
							<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
							<li class="rightside"><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF --></li>
							<!-- ENDIF -->
						</ul>
						<!-- Column 1 end -->
						</div>
					</div><!-- /col1wrap -->
					<div class="col2">
					<!-- Column 2 start -->
					<div class="copyright">
						Copyright&copy; 2011-{CURRENT_YEAR}	{SITENAME} - a <a href="http://whoa.co" title="Whoa.Co Entrepreneurial Web Ventures">Whoa.Co</a> venture. All rights reserved.
					</div>
					<!-- Column 2 end -->
					</div>
					<div class="col3">
					<!-- Column 3 start -->
					<div class="copyright">
						<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
						<br /><a href="http://validator.w3.org/check?uri=referer"><img src="{T_THEME_PATH}/images/w3c_xhtml.png" alt="Valid XHTML 1.0 Strict" /></a>        
						<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
					</div>
					<!-- Column 3 end -->
					</div>
				</div><!-- /colleft -->
			</div><!-- /colmid -->
		</div><!-- /colmask holygrail -->

	</div><!-- /page-footer -->

</div><!-- /wrap -->

<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<script type="text/javascript">
    $(function() {
		if ($.browser.msie && $.browser.version.substr(0,1)<7)
		{
		$('li').has('ul').mouseover(function(){
			$(this).children('ul').css('visibility','visible');
			}).mouseout(function(){
			$(this).children('ul').css('visibility','hidden');
			})
		}

		/* Mobile */
		$('#nav-wrap').prepend('<div id="nav-trigger">Menu</div>');		
		$("#nav-trigger").on("click", function(){
			$("#nav").slideToggle();
		});

		// iPad
		var isiPad = navigator.userAgent.match(/iPad/i) != null;
		if (isiPad) $('#menu ul').addClass('no-transition');      
    });          
</script>

<!-- IF S_VIEWTOPIC -->
<script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
<!-- ENDIF -->

</body>
</html>