<!-- INCLUDE overall_header.html -->
<h2><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></h2>

<div class="colmask doublepage">
	<div class="colleft">
		<div class="col1">
			<!-- Column 1 start -->
			<!-- IF S_FORUM_RULES -->
				<!-- INCLUDE block/block_rules.html -->
			<!-- ENDIF -->
			<!-- Column 1 end -->
		</div>
		<div class="col2">
			<!-- Column 2 start -->
			<!-- INCLUDE block/block_topic_info.html -->
			<!-- Column 2 end -->
		</div>
	</div><!-- /colleft -->
</div><!-- /colmask doublepage -->

<!-- IF S_HAS_POLL -->
	<form method="post" action="{S_POLL_ACTION}">

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<div class="content">
			<h2>{POLL_QUESTION}</h2>
			<p class="author">{L_POLL_LENGTH}<!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE -->{L_MAX_VOTES}<!-- ENDIF --></p>

			<fieldset class="polls">
			<!-- BEGIN poll_option -->
				<dl class="<!-- IF poll_option.POLL_OPTION_VOTED -->voted<!-- ENDIF -->"<!-- IF poll_option.POLL_OPTION_VOTED --> title="{L_POLL_VOTED_OPTION}"<!-- ENDIF -->>
					<dt><!-- IF S_CAN_VOTE --><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label><!-- ELSE -->{poll_option.POLL_OPTION_CAPTION}<!-- ENDIF --></dt>
					<!-- IF S_CAN_VOTE --><dd style="width: auto;"><!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></dd><!-- ENDIF -->
					<!-- IF S_DISPLAY_RESULTS --><dd class="resultbar"><div class="<!-- IF poll_option.POLL_OPTION_PCT < 20 -->pollbar1<!-- ELSEIF poll_option.POLL_OPTION_PCT < 40 -->pollbar2<!-- ELSEIF poll_option.POLL_OPTION_PCT < 60 -->pollbar3<!-- ELSEIF poll_option.POLL_OPTION_PCT < 80 -->pollbar4<!-- ELSE -->pollbar5<!-- ENDIF -->" style="width:{poll_option.POLL_OPTION_PERCENT};">{poll_option.POLL_OPTION_RESULT}</div></dd>
					<dd><!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF --></dd><!-- ENDIF -->
				</dl>
			<!-- END poll_option -->

			<!-- IF S_DISPLAY_RESULTS -->
				<dl>
					<dt>&nbsp;</dt>
					<dd class="resultbar">{L_TOTAL_VOTES} : {TOTAL_VOTES}</dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF S_CAN_VOTE -->
				<dl style="border-top: none;">
					<dt>&nbsp;</dt>
					<dd class="resultbar"><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" /></dd>
				</dl>
			<!-- ENDIF -->

			<!-- IF not S_DISPLAY_RESULTS -->
				<dl style="border-top: none;">
					<dt>&nbsp;</dt>
					<dd class="resultbar"><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></dd>
				</dl>
			<!-- ENDIF -->
			</fieldset>
		</div>

		<span class="corners-bottom"><span></span></span></div>
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</div>


	</form>
	<hr />
<!-- ENDIF -->

<div class="colmask rightmenu">
	<div class="colleft">
		<div class="col1wrap">
			<div class="col1">
			<!-- Column 1 start -->
			<!-- INCLUDE block/block_topic_pagination.html -->
			<!-- INCLUDE block/block_topic_postrow.html -->
			<!-- IF S_QUICK_REPLY -->
				<!-- INCLUDE quickreply_editor.html -->
			<!-- ENDIF -->
			<!-- INCLUDE block/block_topic_pagination.html -->
			<!-- INCLUDE jumpbox.html -->
			<!-- IF S_TOPIC_MOD -->
				<form method="post" action="{S_MOD_ACTION}">
				<fieldset class="quickmod">
					<label for="quick-mod-select">{L_QUICK_MOD}:</label> {S_TOPIC_MOD} <input type="submit" value="{L_GO}" class="button2" />
					{S_FORM_TOKEN}
				</fieldset>
				</form>
			<!-- ENDIF -->
			<!-- Column 1 end -->
			</div>
		</div><!-- /col1wrap -->
		<div class="col2">
		<!-- Column 2 start -->
		<!-- INCLUDE block/block_topic_actions.html -->
		<!-- INCLUDE block/block_topic_random.html -->
		<!-- INCLUDE block/block_topic_share.html -->
		<!-- IF GYM_LINKS -->
			<!-- INCLUDE block/block_gym_links.html -->
		<!-- ENDIF -->
		<!-- Column 2 end -->
		</div>
	</div><!-- /colleft -->
</div><!-- /colmask rightmenu -->

<!-- IF S_RELATED_RESULTS --><div class="clear">&nbsp;</div><br /><br />
<div class="forumbg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{L_RELATED_TOPICS}</dt>
					<dd class="posts">{L_REPLIES}</dd>
					<dd class="views">{L_VIEWS}</dd>
					<dd class="lastpost"><span>{L_LAST_POST}</span></dd>
				</dl>
			</li>
		</ul>

	<ul class="topiclist forums">
	<!-- BEGIN related -->
	<li class="row bg1<!-- IF related.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF related.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF related.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
		<dl class="icon" style="background-image: url({related.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
			<dt <!-- IF related.TOPIC_ICON_IMG and S_TOPIC_ICONS --> style="background-image: url({T_ICONS_PATH}{related.TOPIC_ICON_IMG}); background-repeat: no-repeat;"<!-- ENDIF -->><!-- IF related.S_UNREAD_TOPIC --><a href="{related.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a class="topictitle" href="{related.U_TOPIC}" title="{related.TOPIC_TITLE} : {related.FORUM}">{related.TOPIC_TITLE}</a>
			<!-- IF related.S_TOPIC_UNAPPROVED --><a href="{related.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a> <!-- ENDIF -->
			<!-- IF related.S_TOPIC_REPORTED --><a href="{related.U_MCP_REPORT}">{REPORTED_IMG}</a><!-- ENDIF --><br />
			<!-- IF related.PAGINATION --><strong class="pagination"><span>{related.PAGINATION}</span></strong><!-- ENDIF -->
			<!-- IF related.ATTACH_ICON_IMG -->{related.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {related.TOPIC_AUTHOR_FULL} &raquo; {related.FIRST_POST_TIME}
			</dt>
			<dd class="posts">{related.REPLIES} <dfn>{L_REPLIES}</dfn></dd>
			<dd class="views">{related.VIEWS} <dfn>{L_VIEWS}</dfn></dd>
			<dd class="lastpost"><span><dfn>{L_LAST_POST} </dfn>{L_POST_BY_AUTHOR} {related.LAST_POST_AUTHOR_FULL}
				<a href="{related.U_LAST_POST}">{LAST_POST_IMG}</a><br />{related.LAST_POST_TIME}
				<!-- IF related.U_FORUM and not related.S_POST_GLOBAL --><br /><a class="topictitle" href="{related.U_FORUM}" title="{related.FORUM}">{related.FORUM}</a><!-- ENDIF --></span></dd>
		</dl>
	</li>
	<!-- END related -->
	</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->