<!-- INCLUDE overall_header.html -->
<h2><a href="{U_VIEW_TOPIC}">{TOPIC_TITLE}</a></h2>

<div class="colmask rightmenu">
	<div class="colleft">
		<div class="col1wrap">
			<div class="col1">
			<!-- Column 1 start -->
			<!-- IF S_HAS_POLL -->
			<!-- INCLUDE block/block_topic_poll.html -->
			<!-- ENDIF -->
			<!-- INCLUDE block/block_topic_pagination.html -->
			<!-- INCLUDE block/block_topic_postrow.html -->
			<!-- IF S_QUICK_REPLY -->
				<!-- INCLUDE quickreply_editor.html -->
			<!-- ENDIF -->
			<!-- INCLUDE block/block_topic_pagination.html -->
			<!-- INCLUDE jumpbox.html -->
			<!-- IF S_TOPIC_MOD -->
				<form method="post" action="{S_MOD_ACTION}">
					<fieldset class="quickmod">
						<label for="quick-mod-select">{L_QUICK_MOD}:</label> {S_TOPIC_MOD} <input type="submit" value="{L_GO}" class="button2" />
						{S_FORM_TOKEN}
					</fieldset>
				</form>
			<!-- ENDIF -->
			<!-- IF S_RELATED_RESULTS -->
			<!-- INCLUDE block/block_topic_related_results.html -->
			<!-- ENDIF -->
			<!-- Column 1 end -->
			</div>
		</div><!-- /col1wrap -->
		<div class="col2">
		<!-- Column 2 start -->
		<!-- IF FORUM_DESC -->
		<!-- INCLUDE block/block_topic_info.html -->
		<!-- ENDIF -->
		<!-- INCLUDE block/block_topic_actions.html -->
		<!-- INCLUDE block/block_topic_random.html -->
		<!-- INCLUDE block/block_topic_share.html -->
		<!-- IF GYM_LINKS -->
			<!-- INCLUDE block/block_gym_links.html -->
		<!-- ENDIF -->
		<!-- Column 2 end -->
		</div>
	</div><!-- /colleft -->
</div><!-- /colmask rightmenu -->

<!-- INCLUDE overall_footer.html -->